@model IEnumerable<EFDBFirstDemousingMVC.Models.Department>
@{
    ViewBag.Title = "Index";
}

<h2>Departemnt List</h2>
<ul>
    @foreach (var item in Model)
    {
       

        <li> @Html.ActionLink(item.Name, "EmployeeByDepartment", "Employee", new { departmentid = item.Id }, null)</li>
    }
</ul>

